# This file contains secret keys. Add it to your .gitignore!

# ZSCALER AI GUARD
AIGUARD_API_KEY=<YOUR_AIGUARD_API_KEY>
AIGUARD_CLOUD=us1

# AZURE
AZURE_OPENAI_API_KEY=<AZURE OPENAI API KEY>
AZURE_RESOURCE=<AZURE RESOURCE NAME>
AZURE_DEPLOYMENT=<AZURE DEPLOYMENT NAME>
AZURE_API_VERSION=<AZURE API VERSION>

# AWS
AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
AWS_REGION=<AWS_REGION>

# LITELLM ADMIN - to be defined by you.
LITELLM_ADMIN_KEY=<sk-......>
